  <form class="row contact-wrap contenido" [formGroup]="formCar"  (ngSubmit)="enviarVehiculos()">


  <h2 class="modal-header navestilo" >Datos Vehiculo</h2>

    <div class="mb-3 px-4">
      <label for="Marcas" class="form-label">Marcas</label>
      <select class="form-select form-select-lg" formControlName="marca" >
        <option value="" selected disabled>Seleccionar Marca</option> 
        <option *ngFor="let marca of marcas">{{marca.desc}}</option>
      </select>
    </div> 
    
    <!--Años -->
     <div class="mb-3 px-4">
      <label for="anio" class="form-label">Año</label>
      <select class="form-select form-select-lg" formControlName="anio">
        <option value="" selected disabled>Seleccionar Año</option> 
        <option *ngFor="let anio of anios" > {{anio}} </option>
      </select>
    </div> 

    <!--Modelos-->
    <div class="mb-3 px-4 "> 
    <label for="Modelos" class="form-label">Modelos</label>
    <select class="form-select form-select-lg" formControlName="modelo">
      <option value="" selected disabled>Seleccionar Modelo</option> 
        <option *ngFor="let modelo of modelos"> {{modelo}} </option>
    </select>
    </div> 

    <!--Versiones-->
     <div class="mb-3 px-4 ">
      <label for="Modelos" class="form-label">Version</label>
        <select class="form-select form-select-lg" formControlName="version">
          <option value="" selected disabled>Seleccionar Version</option> 
          <option *ngFor="let version of versiones"> {{version.desc}} </option>
        </select>
     </div> 

     <!--Botones-->
     <div class="flechas"> 
       <button type="submit" (onsubmit)="goNext()" class="flecha derecha">
         <i class="bi bi-arrow-right-circle-fill "></i>
     </button> 
     <button type="submit"  (click)="goBack()"class="flecha ">
      <i class="bi bi-arrow-left-circle-fill "> </i>
     </button> 
    </div> 
</form>
