<form>
    <div class="mb-3">
      <label for="Marcas" class="form-label">Marcas</label>
      <select class="form-control">
        <option selected>Marcas</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      
    </div>
    <div class="mb-3">
      <label for="anio" class="form-label">Año</label>
      <select class="form-control">
        <option selected>Año</option>
        <option value="1">One</option>
      </select>
    </div>
    <div class="mb-3 ">
     
    <select class="form-control">
        <option selected>Modelo</option>
        <option value="1">One</option>
    </select>

    </div>

    <div class="mb-3 ">
     
        <select class="form-control">
            <option selected>Versión</option>
            <option value="1">One</option>
        </select>
    
     </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>